* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #fff;
}

.header{
    height: 650px;
    background-color: #6998AB;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    background-color: #333;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px;
    /* position: fixed; menu sẽ đứng yên  */ 
   width: 100%;
}





.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
  
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

.navbar {
    font-size: 20px;
    color: white;
    display: none;
    padding: 10px;


}



@media(max-width : 768px) {
    .nav__list{
      position: absolute;
      background: gray;
      left: -99%;
      top: 100%;
        
    }
    .nav__list.active{
       left: 0;
    }
    .nav__list a{
     display: block;
     margin: 20px;

    }
    .navbar {
       display: initial;
    }
}